@import 'react-datepicker/dist/react-datepicker.css';
.test_error{
  border: 1px solid red !important;
}
.pogo_section{
  background-color: #fff;
}

.header_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 30px 10px 30px;
  border-bottom: 1px solid lightgray;
  background-color: #fff;
  max-width: 1440px;
  margin: 0px auto;
}

.pogo_logo {
  width: 100px;
}

.health_heven_logo {
  width: 150px;
}

.wrapper {
  padding: 0px 30px;
  background-color: #fff;
  max-width: 1440px;
  margin: 0px auto;
}

.banner_heading, .custom_main_heading {
  color: #27AAE1;
}

.custom_paragraph {
  line-height: 15px;
  padding-left: -13px;
}

.custom_paragraph_first {
  margin-bottom: 30px;
}

p {
  font-weight: 500;
}

li {
  font-weight: 500;
}

.unordr_list {
  line-height: 10px;
  margin-left: 16px;
}

.form_section label {
  font-weight: 600;
}

.form_section input {
  border-radius: 0px !important;
  background-color: #F1F1F3;
  border: 1px solid #F1F1F3;
  color: #000000 !important;
}
.form_section input:focus {
  /* border-radius: 0px !important; */
  background-color: #F1F1F3;
  /* border: 1px solid #F1F1F3; */
  /* color: #000000 !important; */
}

.supersubcript {
  font-size: 10px;
  color: red;
}

.required:after {
  content: " *";
  color: red;
}

.footer_section {
  padding: 50px;
  max-width: 1440px;
  margin: 0px auto;
}

.footer_title {
  font-weight: 700;
  font-size: 21px;
  margin-top: 20px;
}

.footer_list {
  padding-left: 0px;
  list-style: none;
  margin-bottom: 40px;
}

.footer_list li {
  font-size: 18px !important;
  line-height: 50px !important;
}

.footer_link {
  font-size: 18px !important;
  line-height: 30px !important;
  color: #2ea3f2 !important;
}
.about_list{
  color: #172b46;
}
.about_list:hover{
  color: #172b46;
}
.footer_subtitle {
  font-size: 18px !important;
  line-height: 30px !important;
  font-weight: 700;
}

.copyright {
  font-size: 18px !important;
  line-height: 30px !important;
  font-weight: 600;
  padding-top: 50px;
}
.pl_text {
  font-size: 13px !important;
  line-height: 30px !important;
  font-weight: 400;
  padding-top: 50px;
  color: #6D6E71;
}
.not_checked{
  background-color: #c10000;
  padding: 5px;
  color: white;
}

.select  .css-13cymwt-control{
  min-height: 33px !important;
}
.react-datepicker-wrapper, 
.react-datepicker-wrapper > .react-datepicker__input-container {
   width: 100%;
}
.border{
  border: 1px solid red;
}